## Importing the Libraries

In [1]:
from tkinter import *
import pandas as pd

## Setting the Background

In [2]:
root = Tk()
root.configure(background='black')
filename = PhotoImage(file = "desktop/img1.png")
background_label = Label(root, image=filename)
background_label.place(x=0, y=0, relwidth=1, relheight=1)

## Importing the Dataset

In [3]:
df = pd.read_csv("new_data.csv")
df

    Age  Gender  F Type  type
0    31       1       0     5
1    31       1       0     3
2    33       1       0     3
3    27       1       0     4
4    27       1       0     3
5    27       1       0     4
6    22       0       1     1
7    22       1       0     3
8    17       0       0     4
9    17       0       0     5
10   39       1       0     2
11   43       1       0     4
12   26       0       1     3
13   26       0       1     0
14   28       0       0     1
15   21       1       0     5
16   19       1       1     4
17   22       1       0     4
18   22       1       0     3

In [4]:
deals=pd.read_csv("Desktop/deals.csv")
k=deals.shape[0]
d_type=deals['Type']
d_prom=deals['Promotions']
an_ans=""

In [5]:
X = df.drop('type', axis=1)
y=df['type']

## Spliting the Model

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## Implementing Decision Tree Algorithm

In [7]:
def decision_tree():
    from sklearn.tree import DecisionTreeClassifier  
    classifier = DecisionTreeClassifier()  
    classifier.fit(X_train, y_train)  
 
    g=Gender.get()
    
    gg=0
    
    if(g=='M'):
        gg=1
        
    
    f=Type.get()
    ff=0
    
    if(f=='I'):
        ff=1
        
    terms=[]
        
    terms1=[Age.get(),gg,ff]
    
    terms.append(terms1)
    
    print(terms)
    
   
    predict = classifier.predict(terms)
    temp=predict[0]
    
    if(int(Age.get())>=35):
        temp=6
    
    ans="Relax"

    if(temp==0):
        ans="Clothing"
        print("Clothing")

    elif(temp==1):
        ans="Cosmetics"
        print("Cosmetics")

    elif(temp==2):
        ans="Electronics"
        print("Electronics")

    elif(temp==3):
        ans="Relax"
        print("Relax")

    elif(temp==4):
        ans="Restaurant"
        print("Restaurant")

    elif(temp==5):
        ans="Shopping"
        print("Shopping")
    
    global an_ans
    an_ans=ans
    
    print(an_ans)
    
    t2.delete("1.0", END)
    
    t2.insert(END, ans)

## Implementing Naive Bayes Algorithm

In [8]:
def naive_bayes():
    from sklearn.naive_bayes import MultinomialNB
    classifier = MultinomialNB().fit(X_train, y_train)   
    classifier.fit(X_train, y_train)  
 
    g=Gender.get()
    
    gg=0
    
    if(g=='M'):
        gg=1
        
    
    f=Type.get()
    ff=0
    
    if(f=='I'):
        ff=1
        
    terms=[]
        
    terms1=[int(Age.get()),gg,ff]
    
    terms.append(terms1)
    
    print(terms)
    
   
    predict = classifier.predict(terms)
    temp=predict[0]
    
    
    if(int(Age.get())>=35):
        temp=6
    
    if(int(Age.get())>=25 and int(Age.get())<=30 and gg==0):
        temp=1
    
    ans="Relax"
    
    

    if(temp==0):
        ans="Clothing"
        print("Clothing")

    elif(temp==1):
        ans="Cosmetics"
        print("Cosmetics")

    elif(temp==2):
        ans="Electronics"
        print("Electronics")

    elif(temp==3):
        ans="Relax"
        print("Relax")

    elif(temp==4):
        ans="Restaurant"
        print("Restaurant")

    elif(temp==5):
        ans="Shopping"
        print("Shopping")
    
    t3.delete("1.0", END)
    
    t3.insert(END, ans)

## Implementing Function for Deals

In [9]:
def show_deals():
    print(an_ans)
    t4.delete("1.0", END)
    for i in range(k):
        if(d_type[i]==an_ans or d_type[i]=='Relax'):
            print(d_prom[i])
            t4.insert(END,d_prom[i] + '\n')

## Initializing Variables

In [10]:
f_Name = StringVar()
l_Name = StringVar()

Age = StringVar()

Gender =StringVar()
Gender.set(None)

Type = StringVar()
Type.set(None)

In [11]:
l1=['M','F']
l2=['I','D']

OPTIONS1 = sorted(l1)
OPTIONS2 = sorted(l2)

## Defining Heading in GUI

In [12]:
w2 = Label(root, justify=LEFT, text="Location Based Tracking and Personalization", fg="white", bg="red")
w2.config(font=("Elephant", 20))
w2.grid(row=1, column=0, columnspan=2, padx=100)
w2 = Label(root, justify=LEFT, text="Enter the details for best deals and promotions", fg="black")
w2.config(font=("Times Roman", 15))
w2.grid(row=2, column=0, columnspan=2, padx=100)

## Defining Lables in GUI

In [13]:
# labels
FNLb = Label(root, text="First Name",fg="white", bg="red")
FNLb.grid(row=5, column=0, pady=15, sticky=W)

LNLb = Label(root, text="Last Name",fg="white", bg="red")
LNLb.grid(row=6, column=0, pady=15, sticky=W)

ALb = Label(root, text="Age",fg="white", bg="red")
ALb.grid(row=5, column=1, pady=15, sticky=W)

GLb = Label(root, text="Gender",fg="white", bg="red")
GLb.grid(row=6, column=1, pady=15, sticky=W)

TLb = Label(root, text="Flight Type",fg="white", bg="red")
TLb.grid(row=7, column=0, pady=15, sticky=W)

In [14]:
FNEn = Entry(root, textvariable=f_Name)
FNEn.grid(row=5, column=0)

LNEn = Entry(root, textvariable=l_Name)
LNEn.grid(row=6, column=0)

AEn = Entry(root, textvariable=Age)
AEn.grid(row=5, column=1, padx=20)

GEn = OptionMenu(root, Gender,*OPTIONS1)              
GEn.grid(row=6, column=1)

TEn = OptionMenu(root, Type,*OPTIONS2)
TEn.grid(row=7, column=0)

## Defining Lables for Algorithms

In [15]:
dectLb = Label(root, text="Decision Tree", fg="white", bg="red")
dectLb.grid(row=15, column=0, pady=10, sticky=W)

nbLb = Label(root, text="Naive Bayes", fg="white", bg="red")
nbLb.grid(row=16, column=0, pady=10, sticky=W)

ddLb = Label(root, text="Deals", fg="white", bg="red")
ddLb.grid(row=17, column=0, pady=10, sticky=W)

## Calling the Algorithms

In [16]:
dt = Button(root, text="Check the result", command=decision_tree,bg="red",fg="white")
dt.grid(row=15, column=1,padx=10)

nb = Button(root, text="Check the result", command=naive_bayes,bg="red",fg="white")
nb.grid(row=16, column=1,padx=10)

nb = Button(root, text="Show Deals", command=show_deals,bg="red",fg="white")
nb.grid(row=17, column=1,padx=10)

In [ ]:
t2 = Text(root, height=1, width=50,bg="white",fg="black")
t2.grid(row=15, column=0 , padx=50)

t3 = Text(root, height=1, width=50,bg="white",fg="black")
t3.grid(row=16, column=0 , padx=50)

t4 = Text(root, height=7, width=50,bg="white",fg="black")
t4.grid(row=17, column=0 , padx=50, pady=20)


root.mainloop()

[['21', 1, 0]]
Shopping
Shopping
[[21, 1, 0]]
Restaurant
Shopping
Complete pack of HALDIRAM Namkeens
Buy 1 and Get 1 Coupon on next time shopping
Liquor Buy one and get 45% off
5% off with debit card upto Rs. 700
flat Rs.500 off